.Rproj.user
.Rhistory
.RData
.Ruserdata

TeX files/Optimization concerns.tex

TeX files/Opt.concerns.aux

TeX files/Opt.concerns.log

TeX files/Opt.concerns.pdf

TeX files/Opt.concerns.synctex.gz

TeX files/Optimization concerns.aux

TeX files/Optimization concerns.log

TeX files/Optimization concerns.pdf

TeX files/Optimization concerns.synctex.gz
